.seccion-produccion {
    min-height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/20/52/paw-1293912_960_720.png');
    background-repeat: repeat;
    background-size: 100px;
    opacity: 1;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
}
  