/* FOOTER */

.custom-footer {
    margin: 0px;
    padding: 1%;
    background-color: var(--background-footer);
    color: white;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.customs-footer-title {
    text-decoration: underline;
}

.container-footer {
    display: flex;
    justify-content: center;
}

.customs-footer-elements {
    text-align: left;
}

.customs-footer-elements a {
    color: var(--color-amarillo);
    text-decoration: none;
}

.customs-footer-elements a:hover {
    color: yellow;
}

.custom-footer-img {
    width: 10%;
    margin: auto;
}

@media (max-width: 768px) {
    .custom-footer {
        margin: 0;
        padding: 0;
    }

    .container-footer {
        margin: 0;
        padding: 0;
    }

    .customs-footer-elements {
        margin-left: 0;
        text-align: center;
    }

    .custom-footer-img {
        width: 50%;
        margin: 0 auto;
    }
}