/* ----------------------*/
/*        FOOTER         */
/* ----------------------*/

.cs-footer {
    background-color: var(--color-grey);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cs-footer .container {
    width: 100%;
}

.cs-footer-elements {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.cs-footer-elements ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.cs-footer-elements ul li {
    margin-bottom: 10px;
}

/* Enlaces del footer */
.cs-footer-elements ul li a {
    font-size: small;
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease;
}

.cs-footer-elements ul li a:hover {
    text-decoration: underline;
    color: var(--color-green);
}

footer h2 {
    font-size: 0.9rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.cs-footer-title{
    text-decoration: underline;
    font-size: large;
}