.container-login {
    position: relative; /* necesario para pseudo-elemento */
    display: flex;
    flex-wrap: wrap;
    background-color: #020202;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.container-registro{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.fondo-login {
    width: 35%;
    height: auto;
    object-fit: cover;
    display: block; /* hace que respete ancho/alto */
}

.container-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%; /* mismo ancho que la imagen */
    pointer-events: none;    /* no interfiere con clics */
    background: linear-gradient(to left,
            rgba(0, 0, 0, .95) 0%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 1;    /* sobre la foto, debajo del form */
}

.fondo-registro{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.seccion-login {
    position: relative;    /* gana z-index por encima del gradiente */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    color: #fff;
}

.seccion-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    color: white;
}

.container-form{
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 60px 20px;
    width: 100%;
    max-width: 500px;
}

.form-label{
    margin-top: 20px;
    display: block;
    width: 100%;
}

.btn-ingreso{
    background-color: var(--color-primario);
    margin-top: 30px;
    width: 100%;
    border: none;
}

.btn-ingreso:hover{
    background-color: var(--color-hover);
    color: #020202;
    box-shadow: 5px 5px 20px white;

}

.link-registro{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--color-primario);
}

.link-registro:hover{
    color: rgb(243, 243, 119);
}


.btn-registro{
    background-color: var(--color-primario);
    margin-top: 30px;
    width: 100%;
    border: none;
}
.btn-registro:hover{
    background-color: var(--color-hover);
    color: #020202;
    box-shadow: 5px 5px 20px white;
}


@media (max-width: 1023px) {
    .container-login {        
        height: 100%;
        position: relative;    
    }

    .fondo-login {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;            
        z-index: -1;            
    }

    .container-login::before {
        width: 100%;        /* cubre todo el ancho */
        background: linear-gradient(to bottom,                /* degradado vertical en móvil */
                rgba(0, 0, 0, .75) 0%,
                rgba(0, 0, 0, 0) 100%  );
    }

    .seccion-login {
        width: 80%;
        margin: auto;
        padding: 20px;
        opacity: .9;            /* separa un poco del fondo */
    }

    .container-form {
        background: #1e1e1e;
        border-radius: 10px;
        padding: 60px 20px;
        width: 100%;
        max-width: 500px;
    }

    /*registro*/
    .container-registro {
        height: 100%;
        position: relative;
    }

    .fondo-registro {
       width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .seccion-registro {
       width: 80%;
        padding: 20px;
        margin: 0 auto;
        opacity: 0.8;
        
    }

}

@media (max-width: 576px) {
    .seccion-login {
        width: 95%;
        padding: 10px;
    }

    .container-form {
        padding: 40px 15px;
    }
}