/* NAVBAR */
.navbar{
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.3rem;
    background-color: var(--color-primario);
    
}


.nav-list{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav-link{
    border-radius: 30px;

}

.nav-link:hover{
    width: auto;
    height: auto;
    background-color: var(--color-hover);
    color: white;
    border-radius: 30px;
}