
.navbar{
    width: 100vw;
    background-color: var(--color-grey);
    display: flex;
}

.logo{
    margin: 20px 70px;
    width: 150px;
    color: white;
    font-size: 2.5rem;
    z-index: 1;
}

.huella1{
    position: absolute;
    width: 90px;
    height: auto;
    top: 20px;
    left: 90px;
    rotate: 45deg;
    opacity: 0.4;
}

.huella2{
    position: absolute;
    width: 60px;
    height: auto;
    top: 12px;
    left: 180px;
    rotate: 45deg;
    opacity: 0.4;
}

.collapse{
    justify-content: end;
    padding-right: 5vw;
}



.nav-item > a{
    font-size: large;
    margin: 0 15px;
    color: white !important;
    
}
.nav-item > a:hover{
    text-shadow: 2px 2px 2px #f5e3ae;
    font-size: 19px; 
}

.nav-img-user{
    width: 25px;
    margin: 0 15px;
}


.navbar-toggler{
    margin-right: 5%;
    
}