:root{
    --main-color: #f5e3ae;
    --bg-color: #fff5d6;
    --secondary-color: #e1e6d3;
    --ternary-color: #b1ccc4;
    --bg-dark: #4E5861;
}



.banner{
    width: 100vw;
    height: 70vh;
    /* opacity: 0.8; */
}



.main-content{
     min-height: 100vh;
}

.main-conpromiso{
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
    background-color: #f7f9fc;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);   
}

.title-compromiso{
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--ternary-color);
}

.text-compromiso{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
    padding: 0 15px;
}

.btn-contacto {
    background-color: var(--ternary-color);
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-contacto{
    color: white;
    text-decoration: none;
}

.btn-contacto:hover {
    background-color:var(--secondary-color);
}




/* Animación */
@keyframes pisada {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Estilo general para las huellas */
.bg-huella1,
.bg-huella2,
.bg-huella3,
.bg-huella4,
.bg-huella5,
.bg-huella6,
.bg-huella7{
    position: absolute;
    z-index: -1;
    rotate: 45deg;
    animation: pisada 5s infinite;
}

/* Posiciones distintas para dar efecto aleatorio */
.bg-huella1 {
    top: 80%;
    left: 10%;
    animation-delay: 0s;
}

.bg-huella2 {
    top: 90%;
    left: 75%;
    animation-delay: 1.5s;
}

.bg-huella3 {
    top: 185%;
    left: 87%;
    animation-delay: 3s;
}

.bg-huella4 {
    top: 177vh;
    left: 14%;
    animation-delay: 0s;
}

.bg-huella5 {
    top:145vh;
    left: 70vw;
    animation-delay: 1.5s;
}

.bg-huella6 {
    bottom: -90vh;
    right: 60vw;
    animation-delay: 3s;
}
.bg-huella7 {
    top: 127vh;
    left: 40vw;
    animation-delay: 3s;
}
/* Tamaño de las huellas */
.bg-huella1 img,
.bg-huella2 img,
.bg-huella3 img,
.bg-huella4 img,
.bg-huella5 img,
.bg-huella6 img,
.bg-huella7 img {
    width: 160px;
    height: auto;
    opacity: 0.7;
    pointer-events: none;
}
/* ------------- */