/* === GENERAL === */
.body-completo{
    min-height: 70vh;
    position: relative;
}

.promo{
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.promo-titulo{
    font-size: 2.5rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 900;
}

.promo-boton{
    display: inline-block;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 5px;
    width: 200px;
    background-color: var(--color-hover);
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
    transition: 150ms;
    margin: 40px;
}

.promo-boton:focus{
    outline: none;
}

.promo-boton:hover{
    transform: translate(0,-5px);
    background-color: var(--color-primario);
    color: black;
}

.body-completo video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}
/*  */

.promo-section {
    background-color: #f5f7fa;
}

.promo-card {
    background-size: cover;
    background-position: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}


/* Definimos la animación */
@keyframes rotarUnaVez {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* Al hacer hover se dispara una sola vez */
.promo-card:hover {
    animation: rotarUnaVez 0.8s ease-in-out 1; }

.promo-bg-azul {
    background-color: #4da6ff;
}

.promo-bg-verde {
    background-color: #28a745;
}

.promo-bg-amarillo {
    background-color: #f8d347;
}

.promo-bg-naranja {
    background-color: #ff6f00;
}

.promo-bg-violeta {
    background-color: #6f42c1;
}

.promo-bg-celeste {
    background-color: #cce5ff;
}

/*  */
/* Servicios y Productos */
.content-categorias{
    background-color: var(--color-secundario);
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 5% 10%;
}

.content-categorias > h2{
    font-size: 3rem;
    font-weight: bolder;
}

.card-categoria{
    height: 250px;
    object-fit: cover;
}

.servicio-hover .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.servicio-hover:hover .hover-overlay {
    opacity: 1;
}

/* Animación pulse para el ícono */
@keyframes pulseZoom {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Aplica la animación al ícono cuando esté visible */
.servicio-hover:hover .hover-overlay i {
    animation: pulseZoom 1s infinite;
} 

@media (max-width: 768px) {
    .card-categoria {
        height: 200px;
    }
    .content-categorias > h2{
        font-size: 1.5rem;
    }
}


/* === SOBRE NOSOTROS === */
#nosotros img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.btn-link-nosotros{
    margin-top: 100px;
}

.btn-link-nosotros > a{
    background-color: var(--color-secundario);
    padding: 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn-link-nosotros:hover > a{
    background-color: var(--color-hover);
    color: white;
}

#nosotros .rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


/* MARCAS*/
.marcas{
    background-color: #efebe4;
    padding: 30px;
    height: auto;
}


.marcar-asociadas{
    height: 180px;
    width: auto;
}


@media (max-width: 768px) {
    .marcar-asociadas {
        max-height: 100px;
    }
}
