.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card-producto {
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card-producto:hover {
    transform: scale(1.02);
}

.card-img-center {
    height: 180px;
    object-fit: contain;
    padding: 1rem;
}


.btn-p{
    background-color:var(--color-primario);
}

.btn-p:hover {
    background-color: var(--color-hover);
    color: white;
}

/* SERVICIOS */

#custom-servicios{
    padding: 100px 0px;
}

#custom-servicios h2{
    padding-bottom: 50px;
}
