/* PRODUCTOS */

#custom-productos{
    color: var(--color-texto);
    padding: 3% 0px;
}

#custom-productos ul{
    display: flex;
}

#custom-productos ul li{
    width: 10%;
    margin: auto;
}   

#custom-productos ul li img{
    width: 100%;
    border-radius: 5px;
}

/* SERVICIOS */

#custom-servicios{
    padding: 100px 0px;
}

#custom-servicios h2{
    padding-bottom: 50px;
}
