
*{
    font-family: "Playfair Display", serif;
}

body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-----------------------*/
/*        COLORS         */
/*-----------------------*/

:root{
    --color-yellow: #f5e3ae;
    --color-light-yellow: #fff5d6;
    --color-mustard: #e1e6d3;
    --color-green: #b1ccc4;
    --color-grey: #4E5861;
}



/* ul > li {
     margin: 25px; 
} */