
/*.contenedorFoto1{
    position: relative;
}
*/

/*
.foto1{
    opacity: 0.5;
    position: absolute;
}
*/

/*
.prueba{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  
    font-family: "Playfair Display", serif;
    position: absolute;
    font-weight: bold;
    font-size: 7rem;
    color: white;
    top: 50%;
    left: 10%;
}
*/

/* NAVBAR*/

/*contenedor de toda la navbar*/

.cs-navbar{
    background-color: aliceblue;
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*elementos a la izquierda*/

.cs-left-elements{
    margin-left: 5%;
}

/*elementos a la derecha*/

.cs-right-elements{
    margin-right: 5%;
}

/*links, incluye al logo porque tambien lo es*/

.cs-navbar-link{
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.cs-navbar-link:hover{
    text-decoration: underline;
    transition: .4s;
}

/*logo en medio de la navbar*/

.cs-navbar-fedora-logo{
    font-size: 2.5rem;
    font-weight: bolder;
    transition: .4s; 
}

.cs-navbar-fedora-logo:hover{
    font-size: 2.5rem;
    font-weight: bolder;
    transform: scale(1.2);
}

/* FOOTER */

.cs-footer{
    font-size: medium;
    background-color: aliceblue;
    font-family: "Playfair Display", serif;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.cs-footer-elements{
    text-align: center;
    margin: auto;
}

.cs-footer-elements ul li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
}

.cs-footer-elements ul li a{
    text-decoration: none;
    color: black;
}

.cs-footer-elements ul li a:hover{
    text-decoration: underline;
    color: black;
}

footer h2{
    font-size: small;
    font-family: "Playfair Display", serif;
    text-align: center;
}